<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
在mybatis中，映射文件中的namespace是用于绑定Dao接口的，即面向接口编程。
当你的namespace绑定接口后，你可以不用写接口实现类，mybatis会通过该绑定自动帮你找到对应要执行的SQL语句。
请注意接口中的方法与映射文件中的SQL语句的ID一一对应
-->
<mapper namespace="com.wuming.mybatis.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="mobile" property="mobile"></result>
        <result column="age" property="age"></result>
        <result column="email" property="email"></result>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="UserMap">
        select *
        from user
        where id = #{id};
    </select>

    <insert id="create" keyProperty="id" useGeneratedKeys="true" parameterType="User">
        insert into user (name, mobile, age, email) values (#{name}, #{mobile}, #{age}, #{email});
    </insert>

</mapper>