<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
此处的namespace可以随便写，不为空就好。。。
-->
<mapper namespace="x">
    <resultMap id="UserMap" type="User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="mobile" property="mobile"></result>
        <result column="age" property="age"></result>
        <result column="email" property="email"></result>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="UserMap">
        select *
        from user
        where id = #{id};
    </select>

    <insert id="create" keyProperty="id" useGeneratedKeys="true" parameterType="User">
        insert into user (name, mobile, age, email) values (#{name}, #{mobile}, #{age}, #{email});
    </insert>

</mapper>